:root {
  --green: #2ecc71;
  --red: #e74c3c;
  --blue: #3498db;
  --yellow: #f1c40f;

  /* --bg: #f4f4f4;
  --surface: #ffffff;
  --header: #efefef;
  --text-primary: #111111;
  --text-secondary: #555555;
  --border: rgba(0, 0, 0, 0.12); */
}

body.dark {
  --bg: #0f0f0f;
  --surface: #111111;
  --header: #0b0b0b;
  --text-primary: #ffffff;
  --text-secondary: #b5b5b5;
  --border: rgba(255, 255, 255, 0.12);
}

body.light {
  --bg: #f4f4f4;
  --surface: #ffffff;
  --header: #efefef;
  --text-primary: #111111;
  --text-secondary: #555555;
  --border: rgba(0, 0, 0, 0.12);
}
